ul {
  list-style: none;
}
ul.container a {
  color: #fff;
  text-decoration: none;
  font: 1rem Raleway;
  margin: 0px 10px;
  padding: 10px 10px;
  position: relative;
  z-index: 0;
  display: block;
  height: 100%;
  cursor: pointer;
}
.highlightTextIn {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 20px;
}

.highlightTextIn li>a {
    color: #fff;
    text-decoration: none;
    font: 20px Raleway;
    border-radius: 5px;
    
    transition: background-color 0.4s;
}
.highlightTextIn li>a:hover {
    background-color: rgba(255, 255, 255, 0.2); 
  }
.bg-color {
  margin: 0 auto;
  background: linear-gradient(45deg, var(--classic-blue-400), var(--classic-blue-700));
}

.showDisplay {
  display: block;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.1s linear;
}
.sidebar.show {
  display: block;
  animation: slideIn 0.1s linear forwards;
}
.sidebar.closing {
    animation: slideOut 0.1s linear forwards;
  }
@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideOut {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(100%);
    }
  }

.sidebar ul {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  display: flex;
  width: 100%;
  list-style: none;
  height: 100%;
}

.sidebar li {
  width: 100%;
  text-align: center;
}
.sidebar li:hover {
  background-color: var(--classic-blue-300);
  color: white;
  transition: 0.3s;
}
.sidebar-logo {
  display: flex;
  width: 80%;
  justify-content: center;
  gap: 3rem;
}

.show {
  display: block;
}
.margin-categories {
  margin-top: 2rem;
}
.sidebar-closing-btn {
  padding: 1rem 2rem;
}
@media screen and (max-width: 768px) {
  .bg-color {
    display: none;
  }
}
.active {
    background-color: var(--classic-blue-700);
    font-weight: bold;
  }