:root {
  /* Grey */
  --grey-0: #ffffff;
  --grey-10: #f6f6f6;
  --grey-50: #f0f0f0;
  --grey-100: #e0e0e0;
  --grey-200: #c2c2c2;
  --grey-300: #a3a3a3;
  --grey-400: #858585;
  --grey-500: #666666;
  --grey-600: #4d4d4d;
  --grey-700: #333333;
  --grey-800: #1a1a1a;
  --grey-900: #0a0a0a;
  --grey-1000: #000000;

  /* Primary (Classic Blue, Turquoise, Gold) */
  --classic-blue-50: #e6fbff;
  --classic-blue-100: #ccf7fe;
  --classic-blue-200: #99eefd;
  --classic-blue-300: #66e6fc;
  --classic-blue-400: #33ddfb;
  --classic-blue-500: #00d5fa; /* Classic Blue */
  --classic-blue-600: #00a0bc;
  --classic-blue-700: #006b7d;
  --classic-blue-800: #00353f;
  --classic-blue-900: #001519;

  --turquoise-50: #e0ffff;
  --turquoise-100: #b3ffff;
  --turquoise-200: #80ffff;
  --turquoise-300: #4dffff;
  --turquoise-400: #26ffff;
  --turquoise-500: #00ffff; /* Turquoise */
  --turquoise-600: #00cccc;
  --turquoise-700: #008080;
  --turquoise-800: #004040;
  --turquoise-900: #001919;

  --gold-50: #fffaeb;
  --gold-100: #ffeacd;
  --gold-200: #ffd700; /* Gold */
  --gold-300: #ffd700;
  --gold-400: #ffd700;
  --gold-500: #ffd700;
  --gold-600: #ffd700;
  --gold-700: #b8860b;
  --gold-800: #cd8500;
  --gold-900: #8b5a00;

  
  /* Red */
  --red-50: #ffebee;
  --red-100: #ffcdd2;
  --red-200: #ef9a9a;
  --red-300: #e57373;
  --red-400: #ef5350;
  --red-500: #f44336;
  --red-600: #e53935;
  --red-700: #d32f2f;
  --red-800: #c62828;
  --red-900: #b71c1c;
  --red-A100: #ff8a80;
  --red-A200: #ff5252;
  --red-A400: #ff1744;
  --red-A700: #d50000;

  /* Green */
  --green-50: #e8f5e9;
  --green-100: #c8e6c9;
  --green-200: #a5d6a7;
  --green-300: #81c784;
  --green-400: #66bb6a;
  --green-500: #4caf50;
  --green-600: #43a047;
  --green-700: #388e3c;
  --green-800: #2e7d32;
  --green-900: #1b5e20;
  --green-A100: #b9f6ca;
  --green-A200: #69f0ae;
  --green-A400: #00e676;
  --green-A700: #00c853;

  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.app {
  /* width: 80vw; */
  margin: auto;
}

.container {
  width: 80%;
  margin: 0 auto;
}

